name: Tests and Lint
on:
- push
- pull_request

jobs:
  Run linter and tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install project dependencies
      run: yarn

    - name: Lint
      run: yarn run lint
    
    - name: Tests
      run: yarn run test:cov
